
.evenJob, .oddJob {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-height: 60vh;
    max-width: 80vw;
    background-color: black;
    position: relative;
    /* max-height: 100%; */
}
.evenJob {
    box-shadow: 1em 1em var(--pink);
}
.oddJob {
    box-shadow: -1em 1em var(--teal);
}

.jobImageContainer {
    max-width: 60vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jobImage {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
    max-width: 100%;
    max-height: 50vh;
    /* height: 100%; */
}

.jobTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 8vh;
    font-size: 2em;
    color: var(--bPurple);
    position: absolute;
    /* background-color: black; */
    bottom: 3em;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.evenJob h5{
    background: linear-gradient(90deg, var(--pink), var(--teal));    /* width: 40vw; */
}
.oddJob h5 {
    background: linear-gradient(90deg, var(--teal), var(--pink));
    /* width: 40vw; */
}