#projects {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projectsPage {
    min-height: 100vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.projectsPage h1 {
    font-size: 3em;
    color: var(--cultured)
}

.projectsContainer {
    margin-top: 6em;
    display: flex;
    gap: 5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
}