#projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projectsPage {
    height: 90vh;
    margin-top: 8vh;
}

.projectsPage h1 {
    font-size: 5em;
    color: var(--spaceCadet)
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}