.navBar {
    position: fixed;
    top: 0;
    height: 9vh;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    background-color: rgba(0, 0, 0, 1);
    background-color: var(--dGray2);
    z-index: 2;
    /* background-color: black; */
    
    /* background: linear-gradient(90deg, var(--violet), var(--cobaltBlue), var(--catawba)); */
    /* background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.8), rgba(0,0,0,.6), rgba(0,0,0,.4), rgba(0,0,0,.2), rgba(0,0,0,.0)); */
    /* border-radius: 0 30px 30px 0; */
}

.navRoutes1, .navRoutes2 {
    width: 50vw;
    display: flex;
}
.navRoutes1 {
    justify-content: center;
    gap: 1.5em;
}
#navGradient {
    width: 50vw;
    width: 100vw;
    height: .6vh;
    background: linear-gradient(90deg, var(--pink), var(--teal2));
    position: absolute;
    bottom: 0;
    left: 0;
}


.navBtn {
    display: inline-block;
    padding: .5em;
    background: linear-gradient(var(--teal), var(--teal2));
    color: var(--pink);
    border-radius: 10px;
    box-shadow: .2em .2em 1em rgba(0,0,0,.8);
    border: none;
}
.navBtn:hover {
    cursor: pointer;
    color: var(--cultured);
    background: var(--bright);
    /* border: 2px solid var(--teal); */
}

.active span {
    color: var(--cultured);
    background: var(--bright);
    /* box-shadow: .1em .1em .2em  .1em var(--teal); */
    /* border: 1px solid var(--teal2); */
}

