#about {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutMePage {
    margin-top: 10vh;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    margin-bottom: 15vh;
}

.aboutMePage h1 {
    font-size: 3em;
    color: var(--cultured);
}

.contactInfo {
    width: 25em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.aboutContact {
    color: var(--bPurple);
    background: linear-gradient(90deg, var(--teal), var(--pink));
    font-size: 2em;
    border-radius: 10px;
}

.aboutContact.pink {
    background: linear-gradient(90deg, var(--pink), var(--teal));
}

.markImgContainer {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.markImg {
    margin-top: 1em;
    height: 15em;
    width: 15em;
    border-radius: 50%;
}

.brandStatement {
    width: 85vw;
    min-height: 20vh;
    color: var(--cultured);
    font-size: 1.5em;
    background: linear-gradient(var(--violet), var(--purple1), var(--maroon));
    padding: 1em;
    box-shadow: 0 0 .5em var(--pink);
    text-align: left;
}