.footer {
    position: fixed;
    bottom: 0;
    height: 9vh;
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
    background-color: rgba(0, 0, 0, 1);
    background-color: var(--dGray2);
    z-index: 5;
}

#footerGradient {
    height: .6vh;
    width: 50vw;
    width: 100vw;
    background: linear-gradient(90deg, var(--teal), var(--pink));
    position: absolute;
    top: 0;
    right: 0;
}

.navRoutes2 {
    justify-content: center;
    gap: 2em;
}


.footerIcon:hover {
    font-size: 1.1em;
}