#resume {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resumePage {
    min-height: 100vh;
    margin-top: 10vh;
}

.resumePage h1 {
    font-size: 5em;
    color: var(--cultured);
}

.resumeImg {
    height: 90vh;
    width: 70vw;
}

.jobsContainer {
    margin-top: 5em;
    display: flex;
    gap: 3em;
    width: 90vw;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}