#resume {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resumePage {
    min-height: 100vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resumePage h1 {
    font-size: 3em;
    color: var(--dGray2);
}

.resumeImg {
    height: 90vh;
    width: 70vw;
}

.jobsContainer {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 90vw;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

#changeJobCont {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nextJobBtn {
    /* position: absolute;
    bottom: 30%;
    right: 5%;
    margin: 1em; */
}
#previousJobBtn {
    /* position: absolute;
    bottom: 30%;
    left: 5%;
    margin: 1em; */
}
#nextJobBtn, #previousJobBtn {
    /* margin: 1em; */
    height: 8em;
    width: 20em;
}

.arrowIcon {
    font-size: 2em;
    color: var(--bright);
}

#resumeDownload {
    margin: 2em;
    font-size: 3em;
    color: var(--pink);
    text-decoration: none;
    background-color: var(--gray2);
    padding: 1em;
    border-radius: 20px;
}

/*  MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
    #nextJobBtn, #previousJobBtn {
        width: 10em;
        padding: .4em;
        height: 10em;
    }
    
}

@media only screen and (max-width: 660px) {
    

}

