#resume {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--spaceCadet), var(--cobaltBlue), var(--bluePurple), var(--lavender));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.resumePage {
    height: 90vh;
    margin-top: 8vh;
}

.resumePage h1 {
    font-size: 5em;
    color: var(--cultured);
}

.resumeImg {
    height: 90vh;
    width: 70vw;
}