@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Roboto+Slab:wght@600&family=Titillium+Web:wght@700&display=swap');

:root {
    --cultured: #edf2f4;
    /* purples */
    --bPurple: #0d0217;
    --violet: #19042d;
    --dPurple: #26002e;
    --purple: #300638;
    --purple1: #380b43;
    --lPurple: #420e48;
    --maroon: #591e4e;
    /* pinks */
    --redPink: #a74957;
    --salmon: #ff7278;
    --pink: #ffaeaa;
    /* blues */
    --dBlue: #34405a;
    --blue: #256488;
    --blue1: #3aadc8;
    --teal: #43facc;
    --teal: #74c5d8;
    --teal: #95cdfd;
    --teal: #80effd;
    /* --teal: #5adff9; */
    /* --teal: #05f6fa; */


}

* {
    color: var(--bPurple);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Titillium Web', sans-serif;
    font-family: 'League Spartan', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
}


h1 {
    font-family: 'Titillium Web', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Roboto Slab', serif;
}

#home, #projects, #resume, #about {
    background: linear-gradient(90deg, black, var(--violet), black);
    /* background-color: black; */
    /* background-color: var(--bPurple); */
}

