#home {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homePage {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#teal {
    color: var(--bright);
    /* color: var(--pink); */
    font-family: 'Roboto Slab', serif;
}

.nameH1 {
    color: var(--dGray2);
    /* font-size: 5vh; */
    font-size: 6vw;
    width: 100vw;
    margin: 1em auto .4em;

}

#imgCont {
    /* min-width: 70vw;
    max-width: 80vw; */
    /* width: 90vw;
    height: 55vh !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#topRightGradient,
#bottomLeftGradient, 
#topLeftGradient, 
#bottomRightGradient {
    width: 20%;
    height: .5vh;
    position: absolute;
}

#rightGradient,
#leftGradient,
#leftLeftGradient,
#rightRightGradient {
    width: .35vw;
    height: 30%;
    position: absolute;
}

#topRightGradient {
    background: linear-gradient(90deg, var(--teal), var(--pink));
    /* top: -30%;
    right: 5%; */
    top: -2em;
    right: -2em;
}

#rightGradient {
    background: linear-gradient(var(--pink), var(--teal));
    /* top: -30%;
    right: 5%; */
    top: -2em;
    right: -2em;
}

#bottomLeftGradient {
    background: linear-gradient(90deg, var(--pink), var(--teal));
    /* bottom: -30%;
    left: 5%; */
    bottom: -2em;
    left: -2em;
}

#leftGradient {
    background: linear-gradient(var(--teal), var(--pink));
    /* bottom: -30%;
    left: 5%; */
    bottom: -2em;
    left: -2em;
}

#leftLeftGradient {
    background: linear-gradient(var(--pink), var(--teal));
    /* bottom: -30%;
    left: 5%; */
    top: -2em;
    left: -2em;
}
#topLeftGradient {
    background: linear-gradient(90deg, var(--pink), var(--teal));
    /* bottom: -30%;
    left: 5%; */
    top: -2em;
    left: -2em;
}
#bottomRightGradient {
    background: linear-gradient(90deg, var(--teal), var(--pink));
    /* bottom: -30%;
    left: 5%; */
    bottom: -2em;
    right: -2em;
}
#rightRightGradient {
    background: linear-gradient(var(--teal), var(--pink));
    /* bottom: -30%;
    left: 5%; */
    bottom: -2em;
    right: -2em;
}


#homeImg {
    width: 70vw;
    max-height: 50vh;
    max-width: 900px;
    /* max-width: 700px;
    max-height: 45vh; */
    /* height: 100%; */
    object-fit: fill;
    /* border: 3px solid var(--pink); */
    box-shadow: 0em 0em 1.5em .2em var(--dGray2);
    /* box-shadow: 1.5em 1em 5em var(--teal); */
    /* box-shadow: 6em 3em 5px var(--pink); */
    /* box-shadow: 1em 1em var(--pink); */
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .8); */
    /* border: 1px solid var(--teal); */
    border-radius: 0px;
}


.typewriter {
    font-family: 'Titillium Web', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: var(--dGray2);
    /* position: absolute;
    bottom: -30%;
    left: 20%; */
    font-size: 4vw;
    margin: 1em auto;
}




/*  MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
    .navRoutes1,
    .navRoutes2 {
        min-width: 100vw;
    }

    .navBtn {
        padding: .5em 0.1em !important;
    }

    .typewriter {
        font-size: 7vw !important;
        bottom: -23%;
    }
    .nameH1 {
        font-size: 8vw !important;
        top: -28%;
    }


    /* #topRightGradient,
    #rightGradient {
        top: -30%;
        right: 2%;
    }
    #bottomLeftGradient, 
    #leftGradient {
        bottom: -30%;
        left: 2%;
    } */
    #rightGradient, 
    #leftGradient {
        width: .5vw;
    }
    
}

@media only screen and (max-width: 660px) {
    .navBar {
        height: 11vh !important;
    }
    .footer {
        height: 11vh !important;
    }
    
    .nameH1 {
        font-size: 14vw !important;
        margin: .9em auto;
    }

    .typewriter {
        font-size: 7vw !important;
        margin: 2em auto;
    }

    /* #topRightGradient,
    #rightGradient {
        top: -45%;
        right: 4%;
    }
    #bottomLeftGradient, 
    #leftGradient {
        bottom: -45%;
        left: 4%;
    } */
    #rightGradient, 
    #leftGradient,
    #leftLeftGradient,
    #rightRightGradient {
        width: 1.25vw;
    }
    .navBtn {
        padding: .3em 0.1em !important;
    }

}














/* Animations for typewriter effect */
.typewriter:after {
    content: '';
    animation: write 15s infinite linear;
    color: var(--dGray2);
}


@keyframes write {
    1% {
        content: ' P';
        color: var(--dGray2);
    }

    2% {
        content: ' Pr';
    }

    3% {
        content: ' Pro';
    }

    4% {
        content: ' Prob';
    }

    5% {
        content: ' Probl';

    }

    6% {
        content: ' Proble';
    }

    7% {
        content: ' Problem';
    }

    8% {
        content: ' Problem ';
    }

    9% {
        content: ' Problem S';
    }

    10% {
        content: ' Problem So';
    }

    11% {
        content: ' Problem Sol';
    }

    12% {
        content: ' Problem Solv';
    }

    13% {
        content: ' Problem Solve';
    }

    14% {
        content: ' Problem Solver';
        color: var(--pink);
    }


    18% {
        content: ' Problem Solver';
        color: var(--pink);

    }

    18.25% {
        content: ' Problem Solver';
        color: var(--pink);

    }

    18.5% {
        content: ' Problem Solver';
        color: var(--pink);
    }

    18.75% {
        content: ' Problem Solver';
        color: var(--pink);
    }

    19% {
        content: ' Problem Solver';
        color: var(--pink);
        opacity: .9;
    }

    19.25% {
        content: ' Problem Solver ';
        color: var(--pink);
        opacity: .8;
    }

    19.5% {
        content: ' Problem Solver';
        color: var(--pink);
        opacity: .7;
    }

    19.75% {
        content: ' Problem Solver';
        color: var(--pink);
        opacity: .6;
    }

    20% {
        content: ' Problem Solver';
        color: var(--pink);
        opacity: .5;
    }

    20.25% {
        content: ' Problem Solver';
        color: var(--pink);
        opacity: .4;
    }

    20.5% {
        content: ' Problem Solver';
        color: var(--pink);
        opacity: .3;
    }

    20.75% {
        content: ' Problem Solver';
        color: var(--pink);
        opacity: .2;
    }

    21% {
        content: ' Problem Solver';
        color: var(--pink);
        opacity: .1;
    }

    21.25% {
        content: ' ';
        color: var(--dGray2);
        opacity: 0;
    }


    25.25% {
        content: ' T';
        color: var(--dGray2);
        opacity: 1;
    }

    26.25% {
        content: ' Te';
    }

    27.25% {
        content: ' Tea';
    }

    28.25% {
        content: ' Team';
    }

    29.25% {
        content: ' Team ';

    }

    30.25% {
        content: ' Team P';
    }

    31.25% {
        content: ' Team Pl';
    }

    32.25% {
        content: ' Team Pla';
    }

    33.25% {
        content: ' Team Play';
    }

    34.25% {
        content: ' Team Playe';
    }

    35.25% {
        content: ' Team Player';
        color: var(--pink);
    }

    39.25% {
        content: ' Team Player';
        color: var(--pink);
    }

    40% {
        content: ' Team Player';
        color: var(--pink);
        opacity: .9;
    }

    40.25% {
        content: ' Team Player';
        color: var(--pink);
        opacity: .8;
    }

    40.5% {
        content: ' Team Player';
        color: var(--pink);
        opacity: .7;
    }

    40.75% {
        content: ' Team Player';
        color: var(--pink);
        opacity: .6;
    }

    41% {
        content: ' Team Player';
        color: var(--pink);
        opacity: .5;
    }

    41.25% {
        content: ' Team Player';
        color: var(--pink);
        opacity: .4;
    }

    41.5% {
        content: ' Team Player';
        color: var(--pink);
        opacity: .3;
    }

    41.75% {
        content: ' Team Player';
        color: var(--pink);
        opacity: .2;
    }

    42% {
        content: ' Team Player';
        color: var(--pink);
        opacity: .1;
    }

    42.25% {
        content: ' ';
        color: var(--dGray2);
        opacity: 0;
    }


    46.25% {
        content: ' C';
        color: var(--dGray2);
        opacity: 1;
    }

    47.25% {
        content: ' Cr';
    }

    48.25% {
        content: ' Cri';
    }

    49.25% {
        content: ' Crit';
    }

    50.25% {
        content: ' Criti';
    }

    51.25% {
        content: ' Critic';
    }

    52.25% {
        content: ' Critica';
    }

    53.25% {
        content: ' Critical';
    }

    54.25% {
        content: ' Critical ';
    }

    55.25% {
        content: ' Critical T';
    }

    56.25% {
        content: ' Critical Th';
    }

    57.25% {
        content: ' Critical Thi';
    }

    58.25% {
        content: ' Critical Thin';
    }

    59.25% {
        content: ' Critical Think';
    }

    60.25% {
        content: ' Critical Thinke';
    }

    61.25% {
        content: ' Critical Thinker';
        color: var(--pink);
    }


    65.25% {
        content: ' Critical Thinker';
        color: var(--pink);

    }

    65.5% {
        content: ' Critical Thinker';
        color: var(--pink);

    }

    65.75% {
        content: ' Critical Thinker';
        color: var(--pink);

    }

    66% {
        content: ' Critical Thinker';
        color: var(--pink);

    }

    66.25% {
        content: ' Critical Thinker';
        color: var(--pink);

    }

    66.5% {
        content: ' Critical Thinker';
        color: var(--pink);

    }

    66.75% {
        content: ' Critical Thinker';
        color: var(--pink);
        opacity: .9;
    }

    67% {
        content: ' Critical Thinker';
        color: var(--pink);
        opacity: .8;
    }

    67.25% {
        content: ' Critical Thinker';
        color: var(--pink);
        opacity: .7;
    }

    67.5% {
        content: ' Critical Thinker';
        color: var(--pink);
        opacity: .6;
    }

    67.75% {
        content: ' Critical Thinker';
        color: var(--pink);
        opacity: .5;
    }

    68% {
        content: ' Critical Thinker';
        color: var(--pink);
        opacity: .4;
    }

    68.25% {
        content: ' Critical Thinker';
        color: var(--pink);
        opacity: .3;
    }

    68.5% {
        content: ' Critical Thinker';
        color: var(--pink);
        opacity: .2;
    }

    68.75% {
        content: ' Critical Thinker';
        color: var(--pink);
        opacity: .1;
    }

    69% {
        content: ' ';
        color: var(--dGray2);
        opacity: 0;
    }


    71% {
        content: ' D';
        color: var(--dGray2);
        opacity: 1;
    }

    72% {
        content: ' De';
    }

    73% {
        content: ' Dev';
    }

    74% {
        content: ' Deve';
    }

    75% {
        content: ' Devel';
    }

    76% {
        content: ' Develo';
    }

    77% {
        content: ' Develop';
    }

    78% {
        content: ' Develope';
    }

    79% {
        content: ' Developer';
        color: var(--bright);
    }

    80% {
        content: ' Developer';
        color: var(--bright);
    }

    82% {
        content: ' Developer';
        color: var(--bright);
        opacity: .9;
    }

    84% {
        content: ' Developer';
        color: var(--bright);
        opacity: .8;
    }

    86% {
        content: ' Developer';
        color: var(--bright);
        opacity: .7;
    }

    88% {
        content: ' Developer';
        color: var(--bright);
        opacity: .6;
    }

    90% {
        content: ' Developer';
        color: var(--bright);
        opacity: .5;
    }

    92% {
        content: ' Developer';
        color: var(--bright);
        opacity: .4;
    }

    94% {
        content: ' Developer';
        color: var(--bright);
        opacity: .3;
    }

    96% {
        content: ' Developer';
        color: var(--bright);
        opacity: .2;
    }

    98% {
        content: ' Developer';
        color: var(--bright);
        opacity: .1;
    }

    100% {
        content: ' ';
        opacity: 0;
    }
}






/* KEEPING THIS HERE IN CASE I WANT TO COME BACK TO IT. */
/* THIS DELETES THE TYPEWRITE EFFECT INSTEAD OF FADING OUT */

/* @keyframes write {
    1% {
        content: ' P';
    }

    2% {
        content: ' Pr';
    }

    3% {
        content: ' Pro';
    }

    4% {
        content: ' Prob';
    }

    5% {
        content: ' Probl';

    }

    6% {
        content: ' Proble';
    }

    7% {
        content: ' Problem';
    }

    8% {
        content: ' Problem ';
    }

    9% {
        content: ' Problem S';
    }

    10% {
        content: ' Problem So';
    }

    11% {
        content: ' Problem Sol';
    }

    12% {
        content: ' Problem Solv';
    }

    13% {
        content: ' Problem Solve';
    }

    14% {
        content: ' Problem Solver';
        color: var(--teal);
    }


    18% {
        content: ' Problem Solve';
        color: var(--teal);

    }

    18.25% {
        content: ' Problem Solv';
        color: var(--teal);

    }

    18.5% {
        content: ' Problem Sol';
        color: var(--teal);

    }

    18.75% {
        content: ' Problem So';
        color: var(--teal);

    }

    19% {
        content: ' Problem S';
        color: var(--teal);

    }

    19.25% {
        content: ' Problem ';
        color: var(--teal);

    }

    19.5% {
        content: ' Problem';
        color: var(--teal);

    }

    19.75% {
        content: ' Proble';
        color: var(--teal);

    }

    20% {
        content: ' Probl';
        color: var(--teal);

    }

    20.25% {
        content: ' Prob';
        color: var(--teal);

    }

    20.5% {
        content: ' Pro';
        color: var(--teal);

    }

    20.75% {
        content: ' Pr';
        color: var(--teal);

    }

    21% {
        content: ' P';
        color: var(--teal);

    }

    21.25% {
        content: ' ';
        color: var(--teal);
    }


    25.25% {
        content: ' T';
        color: var(--teal);

    }

    26.25% {
        content: ' Te';
    }

    27.25% {
        content: ' Tea';
    }

    28.25% {
        content: ' Team';
    }

    29.25% {
        content: ' Team ';

    }

    30.25% {
        content: ' Team P';
    }

    31.25% {
        content: ' Team Pl';
    }

    32.25% {
        content: ' Team Pla';
    }

    33.25% {
        content: ' Team Play';
    }

    34.25% {
        content: ' Team Playe';
    }

    35.25% {
        content: ' Team Player';
        color: var(--teal);
    }

    39.25% {
        content: ' Team Playe';
        color: var(--teal);

    }

    40% {
        content: ' Team Play';
        color: var(--teal);

    }

    40.25% {
        content: ' Team Pla';
        color: var(--teal);

    }

    40.5% {
        content: ' Team Pl';
        color: var(--teal);

    }

    40.75% {
        content: ' Team P';
        color: var(--teal);

    }

    41% {
        content: ' Team ';
        color: var(--teal);

    }

    41.25% {
        content: ' Team';
        color: var(--teal);

    }

    41.5% {
        content: ' Tea';
        color: var(--teal);

    }

    41.75% {
        content: ' Te';
        color: var(--teal);

    }

    42% {
        content: ' T';
        color: var(--teal);

    }

    42.25% {
        content: ' ';
        color: var(--dGray);
    }


    46.25% {
        content: ' C';
        color: var(--dGray);

    }

    47.25% {
        content: ' Cr';
    }

    48.25% {
        content: ' Cri';
    }

    49.25% {
        content: ' Crit';
    }

    50.25% {
        content: ' Criti';
    }

    51.25% {
        content: ' Critic';
    }

    52.25% {
        content: ' Critica';
    }

    53.25% {
        content: ' Critical';
    }

    54.25% {
        content: ' Critical ';
    }

    55.25% {
        content: ' Critical T';
    }

    56.25% {
        content: ' Critical Th';
    }

    57.25% {
        content: ' Critical Thi';
    }

    58.25% {
        content: ' Critical Thin';
    }

    59.25% {
        content: ' Critical Think';
    }

    60.25% {
        content: ' Critical Thinke';
    }

    61.25% {
        content: ' Critical Thinker';
        color: var(--teal);
    }


    65.25% {
        content: ' Critical Thinke';
        color: var(--teal);

    }

    65.5% {
        content: ' Critical Think';
        color: var(--teal);

    }

    65.75% {
        content: ' Critical Thin';
        color: var(--teal);

    }

    66% {
        content: ' Critical Thi';
        color: var(--teal);

    }

    66.25% {
        content: ' Critical Th';
        color: var(--teal);

    }

    66.5% {
        content: ' Critical T';
        color: var(--teal);

    }

    66.75% {
        content: ' Critical ';
        color: var(--teal);

    }

    67% {
        content: ' Critical';
        color: var(--teal);

    }

    67.25% {
        content: ' Critica';
        color: var(--teal);

    }

    67.5% {
        content: ' Critic';
        color: var(--teal);

    }

    67.75% {
        content: ' Criti';
        color: var(--teal);

    }

    68% {
        content: ' Crit';
        color: var(--teal);

    }

    68.25% {
        content: ' Cri';
        color: var(--teal);

    }

    68.5% {
        content: ' Cr';
        color: var(--teal);

    }

    68.75% {
        content: ' C';
        color: var(--teal);

    }

    69% {
        content: ' ';
        color: var(--dGray);
    }


    71% {
        content: ' D';
        color: var(--dGray);

    }

    72% {
        content: ' De';
    }

    73% {
        content: ' Dev';
    }

    74% {
        content: ' Deve';
    }

    75% {
        content: ' Devel';
    }

    76% {
        content: ' Develo';
    }

    77% {
        content: ' Develop';
    }

    78% {
        content: ' Develope';
    }

    79% {
        content: ' Developer';
        color: var(--bright);
    }

    84% {
        content: ' Developer';
        color: var(--bright);
    }

    89% {
        content: ' Developer';
        color: var(--bright);
    }

    94% {
        content: ' Develope';
        color: var(--bright);

    }

    94.25% {
        content: ' Develop';
        color: var(--bright);

    }

    94.5% {
        content: ' Develo';
        color: var(--bright);

    }

    94.75% {
        content: ' Devel';
        color: var(--bright);

    }

    95% {
        content: ' Deve';
        color: var(--bright);

    }

    95.25% {
        content: ' Dev';
        color: var(--bright);

    }

    95.5% {
        content: ' De';
        color: var(--bright);

    }

    95.75% {
        content: ' D';
        color: var(--bright);

    }

    96% {
        content: ' ';

    }
} */