#home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(var(--violet), var(--maroon)); */
    background-color: var(--bPurple);
}

.homePage {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#teal {
    color: var(--teal);
}

.nameH1 {
    color: var(--cultured);
    position: absolute;
    top: -20%;
    left: 3vw;
    /* font-size: 5vh; */
    font-size: 8vw;
}

#imgCont {
    /* min-width: 70vw;
    max-width: 80vw; */
    width: 100vw;
    max-height: 55vh !important;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#topRightGradient,
#bottomLeftGradient {
    width: 50%;
    height: .5vh;
    position: absolute;
}

#rightGradient,
#leftGradient {
    width: .5vw;
    height: 50%;
    position: absolute;
}

#topRightGradient {
    background: linear-gradient(90deg, var(--pink), var(--teal));
    top: -20%;
    right: 5%;
}

#rightGradient {
    background: linear-gradient(var(--teal), var(--pink));
    top: -20%;
    right: 5%;
}

#bottomLeftGradient {
    background: linear-gradient(90deg, var(--teal), var(--pink));
    bottom: -20%;
    left: 5%;
}

#leftGradient {
    background: linear-gradient(var(--pink), var(--teal));
    bottom: -20%;
    left: 5%;
}


#homeImg {
    /* width: 60vw;
    height: 30vh; */
    width: 90%;
    max-width: 1000px;
    max-height: 55vh;
    /* height: 100%; */
}


.typewriter {
    font-family: 'Titillium Web', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: var(--cultured);
    position: absolute;
    bottom: -20%;
    right: 3vw;
    font-size: 7vw;
}




/*  MEDIA QUERIES */

@media only screen and (max-width: 1000px) {

    .navRoutes1,
    .navRoutes2 {
        min-width: 100vw;
    }

    .navBtn {
        padding: 0.1em !important;
    }

    .typewriter,
    .nameH1 {
        font-size: 8vw !important;
    }

    .navBar,
    .footer {
        height: 8vh !important;
    }
}

@media only screen and (max-width: 660px) {
    .nameH1 {
        font-size: 10vw !important;
        top: -30%;
    }

    .typewriter {
        bottom: -30%;
        font-size: 7vw !important;
    }

    #outerCont {
        height: 45vh !important;
    }

    #middleCont {
        height: 44vh !important;
        width: 100vw !important;
    }

    #innerCont {
        height: 39vh !important;
    }

    #topRightGradient,
    #rightGradient {
        top: -60%;
        right: 5%;
    }
    #bottomLeftGradient, 
    #leftGradient {
        bottom: -60%;
        left: 5%;
    }
    #rightGradient, 
    #leftGradient {
        width: 1.25vw;
    }

    /* #homeImg {
        width: 100vw;
        height: 100%;
    } */
}














/* Animations for typewriter effect */
.typewriter:after {
    content: '';
    animation: write 15s infinite linear;
    color: var(--cultured);
}

@keyframes write {
    1% {
        content: ' P';
        color: var(--cultured);

    }

    2% {
        content: ' Pr';
    }

    3% {
        content: ' Pro';
    }

    4% {
        content: 'Prob';
    }

    5% {
        content: ' Probl';

    }

    6% {
        content: ' Proble';
    }

    7% {
        content: ' Problem';
    }

    8% {
        content: ' Problem ';
    }

    9% {
        content: ' Problem S';
    }

    10% {
        content: ' Problem So';
    }

    11% {
        content: ' Problem Sol';
    }

    12% {
        content: ' Problem Solv';
    }

    13% {
        content: ' Problem Solve';
    }

    14% {
        content: ' Problem Solver';
        color: var(--teal);
    }


    18% {
        content: ' Problem Solve';
        color: var(--teal);

    }

    18.25% {
        content: ' Problem Solv';
        color: var(--teal);

    }

    18.5% {
        content: ' Problem Sol';
        color: var(--teal);

    }

    18.75% {
        content: ' Problem So';
        color: var(--teal);

    }

    19% {
        content: ' Problem S';
        color: var(--teal);

    }

    19.25% {
        content: ' Problem ';
        color: var(--teal);

    }

    19.5% {
        content: ' Problem';
        color: var(--teal);

    }

    19.75% {
        content: ' Proble';
        color: var(--teal);

    }

    20% {
        content: ' Probl';
        color: var(--teal);

    }

    20.25% {
        content: ' Prob';
        color: var(--teal);

    }

    20.5% {
        content: ' Pro';
        color: var(--teal);

    }

    20.75% {
        content: ' Pr';
        color: var(--teal);

    }

    21% {
        content: ' P';
        color: var(--teal);

    }

    21.25% {
        content: ' ';
        color: var(--cultured);
    }


    25.25% {
        content: ' T';
        color: var(--cultured);

    }

    26.25% {
        content: ' Te';
    }

    27.25% {
        content: ' Tea';
    }

    28.25% {
        content: ' Team';
    }

    29.25% {
        content: ' Team ';

    }

    30.25% {
        content: ' Team P';
    }

    31.25% {
        content: ' Team Pl';
    }

    32.25% {
        content: ' Team Pla';
    }

    33.25% {
        content: ' Team Play';
    }

    34.25% {
        content: ' Team Playe';
    }

    35.25% {
        content: ' Team Player';
        color: var(--teal);
    }

    39.25% {
        content: ' Team Playe';
        color: var(--teal);

    }

    40% {
        content: ' Team Play';
        color: var(--teal);

    }

    40.25% {
        content: ' Team Pla';
        color: var(--teal);

    }

    40.5% {
        content: ' Team Pl';
        color: var(--teal);

    }

    40.75% {
        content: ' Team P';
        color: var(--teal);

    }

    41% {
        content: ' Team ';
        color: var(--teal);

    }

    41.25% {
        content: ' Team';
        color: var(--teal);

    }

    41.5% {
        content: ' Tea';
        color: var(--teal);

    }

    41.75% {
        content: ' Te';
        color: var(--teal);

    }

    42% {
        content: ' T';
        color: var(--teal);

    }

    42.25% {
        content: ' ';
        color: var(--cultured);
    }


    46.25% {
        content: ' C';
        color: var(--cultured);

    }

    47.25% {
        content: ' Cr';
    }

    48.25% {
        content: ' Cri';
    }

    49.25% {
        content: ' Crit';
    }

    50.25% {
        content: ' Criti';
    }

    51.25% {
        content: ' Critic';
    }

    52.25% {
        content: ' Critica';
    }

    53.25% {
        content: ' Critical';
    }

    54.25% {
        content: ' Critical ';
    }

    55.25% {
        content: ' Critical T';
    }

    56.25% {
        content: ' Critical Th';
    }

    57.25% {
        content: ' Critical Thi';
    }

    58.25% {
        content: ' Critical Thin';
    }

    59.25% {
        content: ' Critical Think';
    }

    60.25% {
        content: ' Critical Thinke';
    }

    61.25% {
        content: ' Critical Thinker';
        color: var(--teal);
    }


    65.25% {
        content: ' Critical Thinke';
        color: var(--teal);

    }

    65.5% {
        content: ' Critical Think';
        color: var(--teal);

    }

    65.75% {
        content: ' Critical Thin';
        color: var(--teal);

    }

    66% {
        content: ' Critical Thi';
        color: var(--teal);

    }

    66.25% {
        content: ' Critical Th';
        color: var(--teal);

    }

    66.5% {
        content: ' Critical T';
        color: var(--teal);

    }

    66.75% {
        content: ' Critical ';
        color: var(--teal);

    }

    67% {
        content: ' Critical';
        color: var(--teal);

    }

    67.25% {
        content: ' Critica';
        color: var(--teal);

    }

    67.5% {
        content: ' Critic';
        color: var(--teal);

    }

    67.75% {
        content: ' Criti';
        color: var(--teal);

    }

    68% {
        content: ' Crit';
        color: var(--teal);

    }

    68.25% {
        content: ' Cri';
        color: var(--teal);

    }

    68.5% {
        content: ' Cr';
        color: var(--teal);

    }

    68.75% {
        content: ' C';
        color: var(--teal);

    }

    69% {
        content: ' ';
        color: var(--cultured);
    }


    71% {
        content: ' D';
        color: var(--cultured);

    }

    72% {
        content: ' De';
    }

    73% {
        content: ' Dev';
    }

    74% {
        content: ' Deve';
    }

    75% {
        content: ' Devel';
    }

    76% {
        content: ' Develo';
    }

    77% {
        content: ' Develop';
    }

    78% {
        content: ' Develope';
    }

    79% {
        content: ' Developer';
        color: var(--pink);
    }

    84% {
        content: ' Developer';
        color: var(--pink);
    }

    89% {
        content: ' Developer';
        color: var(--pink);
    }

    94% {
        content: ' Develope';
        color: var(--pink);

    }

    94.25% {
        content: ' Develop';
        color: var(--pink);

    }

    94.5% {
        content: ' Develo';
        color: var(--pink);

    }

    94.75% {
        content: ' Devel';
        color: var(--pink);

    }

    95% {
        content: ' Deve';
        color: var(--pink);

    }

    95.25% {
        content: ' Dev';
        color: var(--pink);

    }

    95.5% {
        content: ' De';
        color: var(--pink);

    }

    95.75% {
        content: ' D';
        color: var(--pink);

    }

    96% {
        content: ' ';

    }
}